*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* Variables */
:root{
    --main-purple-color:#9e53b6;
    --main-yellow-color:#f2e20b;
    --padding-top:50px;
    --padding-bottom:50px;
    --background-sections:#ecececec;
}
/* Responsive */
/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.container{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.container > h1{
    line-height: 1.2;
    text-align: center;
    padding-bottom: var(--padding-bottom);
}
/* Header */
.header{
    background-color: var(--main-purple-color);
    position: relative;
    padding-bottom: 30px;
    z-index: 1;
}
/* small & medium screen */
@media (max-width:991px) {
    .header{
        padding-bottom: 0;
    }
    .header .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .header .container .logo > a{
        font-size: 45px;
        font-weight: bold;
        color: white;
    }
    .header .container .logo > a span{
        color: var(--main-yellow-color);
    }
    .header .container .bar{
        font-size: 30px;
    }
    .header .container .bar .small-phone{
        position: absolute;
        transform: translateX(-50%);
        top: 100%;
        left: 50%;
        width: 100%;
        text-align: center;
        background-color: #9e53b6;
        transition: 2s;
        display: none;
        z-index: 2;
    }
    .header .container .small-phone li a{
        color: white;
        padding: 16px 30px 30px;
        display: block;
        font-size: 16px;
    }
    .header .container .bar:hover .small-phone{
        display: block;
    }
}
/* Big screen */
@media (min-width:992px) {
    .header .container > .logo{
        display: none;
    }
    .header .container .bar{
        display: none;
    }
    .header .container .small-phone{
        display: none;
    }
}
.header .container .nav-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
@media (max-width:991px) {
    .header .container .nav-bar{
        display: none;
    }
}
.header .container .nav-bar ul{
    display: flex;
    align-items: center;
}
.header .container .nav-bar ul li a{
    color: white;
    padding: 16px 30px 30px;
    display: block;
    font-size: 16px;
}
.header .container .parent ul li {
    position: relative;
}
@media (max-width:991px) {
    .header .container .parent{
        display: none;
    }
}
.header .container .parent ul li:not(:last-child)::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    border-right: 3px solid white;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
}
.header .container .parent .social-media{
    display: flex;
    padding: 16px 30px 30px;
}
.header .container .parent .social-media i{
    color: white;
    padding-left: 35px;
    font-size: 17px;
    cursor: pointer;
}
.header .container .child{
    position: absolute;
    background-color: white;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
}
.header .container .child ul li a{
    color: black;
    font-weight: bold;
}
.header .container .child .logo > a{
    font-size: 60px;
    font-weight: bold;
    color: var(--main-purple-color);
}
.header .container .child .logo > a span{
    color: var(--main-yellow-color);
}
.header .container .child ul li > .active , .header .container .child ul li > a:hover{
    color: var(--main-purple-color);
}
/* Landing */
.landing{
    background-image:url(../images/landing.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 0;
}
.landing::after{
    content: '';
    position: absolute;
    background-color: #00000073;
    width: 100%;
    height: 100%;
}
.landing .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 1;
    text-align: center;
    color: white;
}
.landing .text h5{
    font-size: 25px;
}
@media (max-width:991px) {
    .landing .text h5{
        font-size: 15px;
    }
}
.landing .text h1{
    font-size: 60px;
}
@media (max-width:991px) {
    .landing .text h1{
        font-size: 40px;
    }
}
.landing input{
    padding: 20px 50px;
    color: white;
    background-color: var(--main-purple-color);
    border: none;
    border-radius: 30px;
    font-size: 17px;
    margin: 25px;
    font-weight: bold;
    transition: 0.3s;
}
.landing input:hover{
    cursor: pointer;
    background-color: var(--main-purple-color);
}
.landing .angle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    padding: 25px;
    border-radius: 50%;
    background-color: #f2e20b9e;
    font-size:30px;
    transition: 0.3s;
    z-index: 1;
}

.landing .fa-angle-left{
    left: 100px;
}
.landing .fa-angle-right{
    right: 100px;
}
@media (max-width:991px) {
    .landing .fa-angle-left{
        left: 10px;
    }
    .landing .fa-angle-right{
        right: 10px;
    }
}
.landing .angle:hover{
    background-color: var(--main-yellow-color);
    cursor: pointer;
} 
/* About */
.About{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.About .container .Feature{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(278px ,1fr));
    gap: 30px;
}
.About .container .Feature .img img{
    max-width: 100%;
    border-radius: 20px;
}
.About .container .Feature .about h1 , .about .container .Feature .feature h1{
    font-size: 25px;
    padding-bottom: 15px;
}
.About .container .Feature .about p:nth-child(2){
    padding-bottom: 15px;
    font-weight: bold;
    color: gray;
    font-size: 20px;
}
.About .container .Feature .about p:nth-child(3){
    color: #000000ba;
}
.About .container .Feature .about ,.About .container .Feature .feature{
    padding-top: 40px;
}
.About .container .Feature .feature p{
    padding-bottom: 15px;
    color: #000000ba;
}
.About .container .Feature .feature ul li{
    color: gray;
    font-size: 20px;
    padding-bottom: 10px;
    position: relative;
}
.About .container .Feature .feature ul li::before{
    content: "\f00c";
    font-family: 'Font Awesome 5 free';
    font-weight: bold;
    color: var(--main-purple-color);
    padding-right: 10px;
}
.About .container .Feature .feature input , .About .container .Feature .about input{
    padding: 13px 30px;
    border: none;
    border-radius: 30px;
    background-color: var(--main-purple-color);
    font-size: 15px;
    color: white;
    margin: 10px 0;
    font-weight: bold;
}
/* promotion */
.promotion{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(507px , 1fr));
}
@media (max-width:947px){
    .promotion{
        grid-template-columns: repeat(auto-fill , minmax(328px , 1fr));
    }
}
.promotion .video{
    position: relative;
}
.promotion .video::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
    border-radius: 50%;
}
.promotion .video::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
    border-radius: 50%;
    width: 0;
    height: 0;
    z-index: 1;
    animation: flash-video 2s ease-in-out infinite;
}
@keyframes flash-video {
    from{
        width: 0;
        height: 0;
    }
    to{
        width: 200px;
        height:200px;
        opacity: 0;
    }
}
.promotion .video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.promotion .video .play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    color: var(--main-purple-color);
    z-index: 1;
}
.promotion .video .play i{
    font-size: 50px;
}
.promotion .text{
    background-color: var(--main-purple-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.promotion .text .price{
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--main-yellow-color);
    font-size: 31px;
    font-weight: bold;
}

.promotion .text h1{
    padding-top: 30px ;
    color: white;
}
.promotion .text p{
    padding: 30px;
    color: white;
}
.promotion .text input{
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    background-color: var(--main-yellow-color);
    font-size: 15px;
    color: white;
    margin: 10px 0;
    font-weight: bold;
}
/* Services */
.Service{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--background-sections);
}
.Service .container .services{
    padding-top: var(--padding-top);
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(223px , 1fr));
    gap: 80px;
    padding-top: 100px;
}
.Service .container .services .service{
    text-align: center;
    position: relative;
    background-color: white;
    padding: 55px 8px 7px;
}
.Service .container .services .service::before{
    content: '';
    position: absolute;
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.Service .container .services .service::after{
    content: '';
    position: absolute;
    background-color: var(--main-purple-color);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}
.Service .container .services .service .img{
    position: absolute;
    top: -44px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.Service .container .services .service img{
    border-radius: 50%;
    width: 100px;
    transition: 0.7s linear;
}
.Service .container .services .service:hover img{
    transform: rotate(360deg);
}
.Service .container .services .service .text{
    padding: 20px 0;
}
.Service .container .services .service h1{
    font-size: 18px;
    padding: 10px;
}
.Service .container .services .service .text p{
    color: gray;
    font-size: 15px;
    padding: 15px 0;
}
.Service .container .services .service .text a{
    color: var(--main-yellow-color);
    font-weight: bold;
}
/* Gallery */
.Gallery{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.Gallery .container{
    position: relative;
}
.Gallery .container .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    position: relative;
}
@media (max-width:991px) {
    .Gallery .container .gallery{
        grid-template-columns: repeat(auto-fill , minmax(266px , 1fr));
    }
}
.Gallery .container .gallery .img{
    position: relative;
    overflow: hidden;
}
.Gallery .container .gallery .img::after{
    content: '';
    position: absolute;
    border: 2px solid white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
}
.Gallery .container .gallery .img::before{
    content: '';
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    transition: 0.7s;
}
.Gallery .container .gallery .img:hover::before{
    height: 82%;
    width: 82%;
}
.Gallery .container .gallery .img a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--main-purple-color);
    font-size: 80px;
    display: none;
    transition: 0.7s linear 0.3s;
    font-weight: bold;
}
.Gallery .container .gallery .img:hover a{
    display: block;
}
.Gallery .container .gallery .img img{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
/* Product */
.Product{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--background-sections);
}
.Product .container .products{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(183px , 1fr));
    gap: 50px;
}
.Product .container .products .product{
    text-align: center;
    background-color: white;
    padding: 50px 0;
    position: relative;
    transition: 0.3s;
}

.Product .container .products .product::after {
    content: '$99';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-purple-color);
    width: 30%;
    height: 15%;
    font-weight: bold;
    color: white;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Product .container .products .product:hover{
    background-color: var(--main-yellow-color);
}
.Product .container .products .product .img{
    position: relative;
    display: flex;
    justify-content: center;
}
.Product .container .products .product .img::before{
    position: absolute;
    content: '';
    width: 135px;
    height: 135px;
    background-color: var(--main-purple-color);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.Product .container .products .product .img img{
    border-radius: 50%;
    width: 100px;
    position: relative;
    z-index: 1;
}
.Product .container .products .product h1{
    font-size: 18px;
    padding-top: 35px;
    transition: 0.3s;
}
.Product .container .products .product:hover h1{
    color: white;
}
.Product .container .products .product input{
    padding: 13px 30px;
    border: none;
    border-radius: 30px;
    background-color: var(--main-yellow-color);
    font-size: 15px;
    color: white;
    margin: 10px 0;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.3s;
}
.Product .container .products .product:hover input{
    background-color: var(--main-purple-color);
}
/* Chefs */
.Chefs{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--background-sections);
}
.Chefs .container .chefs{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 90px;
    padding-top: 100px;
}
@media (max-width:991px) {
    .Chefs .container .chefs{
        grid-template-columns: repeat(auto-fill , minmax(270px , 1fr));
    }
}
.Chefs .container .chefs .chef{
    text-align: center;
    background-color: white;
    position: relative;
    padding: 100px 0 60px
}
.Chefs .container .chefs .chef .img{
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 15px solid var(--main-purple-color);
    overflow: hidden;
}
.Chefs .container .chefs .chef .img img{
    border-radius: 50%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
}
.Chefs .container .chefs .chef:hover img{
    transform: scale(1.3);
}
.Chefs .container .chefs .chef h1{
    font-size: 27px;
    padding: 25px 0;
}
.Chefs .container .chefs .chef span{
    font-size: 18px;
    color: gray;
    font-weight: bold;
    padding: 20px;
}
.Chefs .container .chefs .chef .social-media{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.Chefs .container .chefs .chef .social-media i{
    color: var(--main-yellow-color);
    border-radius: 50%;
    border: 2px solid var(--main-yellow-color);
    padding: 20px;
    margin: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}
.Chefs .container .chefs .chef .social-media i:hover{
    color: black;
    background-color: var(--main-yellow-color);
} 
/* Clients */
.Clients{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.Clients .container .clients{
    width: 680px;
    overflow: hidden;
    margin: 0 auto;
}
@media(max-width:776px) {
    .Clients .container .clients{
        width: 400px;
    }
}
@media (max-width:440px) {
    .Clients .container .clients{
        width: 200px;
    }
}
.Clients .container .clients ul{
    display: grid;
    grid-template-columns: repeat(3 , 680px);
    animation: Clients 6s infinite ease-in-out;
    position: relative;
}
@media(max-width:776px) {
    .Clients .container .clients ul{
        grid-template-columns: repeat(3 , 400px);
    }
}
@media(max-width:440px) {
    .Clients .container .clients ul{
        grid-template-columns: repeat(3 , 200px);
    }
}

.Clients .container .clients ul li{
    text-align: center;
    width: 680px;
}
@media(max-width:776px) {
    .Clients .container .clients ul li{
        width: 400px;
    }
}
@media (max-width:440px) {
    .Clients .container .clients ul li{
        width: 200px;
    }
}
.Clients .container .clients ul li i{
    font-size: 80px;
    font-weight: bold;
    color: var(--main-purple-color);
}
.Clients .container .clients ul li img{
    border-radius: 50%;
    padding: 20px;
}
.Clients .container .clients ul li p{
    font-size: 25px;
    padding-top: 30px;
}
@media (max-width:776px) {
    .Clients .container .clients ul li p{
        font-size: 20px;
    }
}
.Clients .container .clients ul li h1{
    font-size: 20px;

}
.Clients .container .clients ul li span{
    font-size: 16px;
    color: gray;
    font-weight: bold;
}
.Clients .container .ellipsis{
    display: flex;
    justify-content: center;
    padding-top: var(--padding-top);   
}
.Clients .container .ellipsis a li{
    background-color: var(--main-purple-color);
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: 0.3s;
}
.Clients .container .ellipsis a li:hover{
    background-color: var(--main-yellow-color);
}
.Clients .container .ellipsis a{
    border-radius: 50%;
    border: 2px solid var(--main-purple-color);
    margin: 5px;
}
@keyframes Clients{
    0% {
        left: 0;
    }
    60%{
        left: -680px;
    }
    100%{
        left: -1360px;
    }
}
/* Medium */
@media(max-width:776px) {
    @keyframes Clients{
        0% {
            left: 0;
        }
        60%{
            left: -400px;
        }
        100%{
            left: -800px;
        }
    }
}
@media(max-width:440px) {
    @keyframes Clients{
        0% {
            left: 0;
        }
        60%{
            left: -200px;
        }
        100%{
            left: -400px;
        }
    }
} 

/* Contact */
.Contact{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.Contact .container{
    text-align: center;
}
.Contact .container .logo > a{
    font-size: 45px;
    font-weight: bold;
    color: var(--main-purple-color);
}
.Contact .container .logo > a span{
    color: var(--main-yellow-color);
}
.Contact .container .social-media{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.Contact .container .social-media i{
    color: var(--main-yellow-color);
    border-radius: 50%;
    border: 2px solid var(--main-yellow-color);
    padding: 20px;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}
.Contact .container .social-media i:hover{
    color: black;
    background-color: var(--main-yellow-color);
} 
.Contact .container .contact{
    display: flex;
    justify-content: center;
    gap: 20px;
}
@media (max-width:991px) {
    .Contact .container .contact{
        flex-direction: column;
}
}
.Contact .container .contact .col{
    padding-top: 20px;
    position: relative;
    padding-right: 17px;
}
.Contact .container .contact .col:first-child ::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    background-color: #808080a1;
    width: 1px;
    height: 70%;
    transform: translateY(-50%);
}

@media (max-width:991px) {
    .Contact .container .contact .col:first-child::after{
        content: none;
    }
}
.Contact .container .contact .col:first-child{
    text-align: right;
}
@media (max-width:991px) {
    .Contact .container .contact .col:first-child{
        text-align: center;
    }
}
.Contact .container .contact .col:last-child{
    text-align: left;
}
@media (max-width:991px) {
    .Contact .container .contact .col:last-child{
        text-align: center;
    }
}
.Contact .container .contact .col h1{
    font-size: 17px;
}
.Contact .container .contact .col span{
    padding: 7px 0;
    color: gray;
}



